<mat-card class="quest">
  <div  *ngIf="isLoading" class="loader-container">
    <app-loader></app-loader>
  </div>
  
  <h3 class="quest__title">{{quest.title}}</h3>
  <div class="description">
    <p class="description__text">{{quest.description}}</p>
    <p class="description__author">- {{quest.customer}}</p>
  </div>
  <p class="quest__complexity">
    <mat-icon *ngFor="let idx of quest.complexity | numberToArray">star</mat-icon>
  </p>
  <ul class="quest__reward-list">
    <li *ngFor="let rewardItem of quest.reward" class="quest__reward">{{rewardItem}}</li>
  </ul>
  <button class="quest__button" *ngIf="!quest.isAccepted"
    mat-button
    (click)="acceptQuest()">
      Accept quest
  </button>
  <button class="quest__button" *ngIf="quest.isAccepted"
    mat-button
    color="warn"
    (click)="declineQuest()">
      Decline quest
  </button>
</mat-card>
