<mat-card class="quest">
  <h3 class="quest__title">{{quest.title}}</h3>
  <div class="description">
    <p class="description__text">{{quest.description}}</p>
    <p class="description__author">- {{quest.customer}}</p>
  </div>
  <p class="quest__complexity">
    <mat-icon *ngFor="let idx of quest.complexity | numberToArray">star</mat-icon>
  </p>
  <ul class="quest__reward-list">
    <li *ngFor="let rewardItem of quest.reward" class="quest__reward">{{rewardItem}}</li>
  </ul>
  <button *ngIf="!quest.isAccepted"
    mat-raised-button
    (click)="acceptQuest()">Accept quest</button>
</mat-card>
  