.quest {
  font-family: 'Covered By Your Grace', cursive;
  font-size: 1.3em;

  &__title {
    text-align: center;
  }

  &__customer {
    text-align: end;
  }
}

.btn {
  outline: 2px solid black;
  border-radius: 0;
  border: none;
  text-transform: uppercase;
}
